html body{
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
}
.button{
  margin-top: 20%;
  left: 40%;
  position: relative;
  margin-bottom: 15%;
}
.board{
  background: lightblue;
}
#background{
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/background.png');

}
#play1{
  position: absolute;
}
#play2{
  position: absolute;
}
#monster{
  position: absolute;
}
#ui{
  position: absolute;
}
