html body{
  margin: 0;
  padding: 0;
  text-align: center;
}
.board{
  margin: auto;
  text-align: center;
  background: lightblue;
  background-size: cover;
  background-image: url('../img/background.png');
}
#canvas{


}
